attrs
bidict
blinker
certifi
charset-normalizer
dotenv
flasgger
flask
flask-cors
Flask-SocketIO
Flask-SQLAlchemy
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mistune
packaging
pillow
psycopg2-binary
python-dateutil
python-dotenv
python-engineio
python-socketio
PyYAML
qrcode
referencing
requests
rpds-py
simple-websocket
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
wsproto
certbot
certbot-dns-cloudflare
gevent 
gevent-websocket